.hashtag {
  display: grid;
  height: 100%;
  background-color: var(--color-third);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.hashtag > .item {
  background-color: var(--color-zero);
  display: flex;
  justify-content: center;
}

.hashtag > .item:nth-child(2),
.hashtag > .item:nth-child(8) {
  justify-content: space-between;
}

.hashtag > .item:nth-child(2)::before,
.hashtag > .item:nth-child(2)::after,
.hashtag > .item:nth-child(8)::before,
.hashtag > .item:nth-child(8)::after {
  content: "";
  width: 5px;
  height: 100%;
  background-color: var(--color-first);
}

.hashtag > .item:nth-child(2)::before,
.hashtag > .item:nth-child(2)::after {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.hashtag > .item:nth-child(8)::before,
.hashtag > .item:nth-child(8)::after {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.hashtag > .item:nth-child(5) {
  border: 5px solid var(--color-first);
}
.hashtag > .item:nth-child(4),
.hashtag > .item:nth-child(6) {
  position: relative;
}

.hashtag > .item:nth-child(4)::before,
.hashtag > .item:nth-child(6)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: var(--color-first);
}

.hashtag > .item:nth-child(4)::before {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.hashtag > .item:nth-child(6)::before {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  bottom: 0;
}

.hashtag > .item:nth-child(4) {
  border-bottom: 5px solid var(--color-first);
}

.hashtag > .item:nth-child(6) {
  border-top: 5px solid var(--color-first);
}
